[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=USERNAME
Environment="EMAIL_SECRET"

WorkingDirectory=/home/Thoth/sites/SITENAME/source
ExecStart=/home/Thoth/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application

[Install]
WantedBy=milti-user.target